iframe, canvas{
    display: block !important;
}

.tradingview-widget-container{
    width: 100% !important;
    height: 80vh !important;
}


 @media (max-width: 1000px) {
    .tradingview-widget-container {
        height: 75vh !important;
    }
}

@media (max-width: 900px) {
    .tradingview-widget-container {
        height: 70vh !important;
    }
}

@media (max-width: 800px) {
    .tradingview-widget-container {
        height: 60vh !important;
    }
}

@media (max-width: 600px) {
    .tradingview-widget-container {
        height: 50vh !important;
    }
}

