#Investir{
    background-color: #1C3049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding-top: 4vh;
}

.teste{
    color: #ffaa8e;
}

#Investir #grafico{
    width: 25%;
    min-height: 96vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#Investir #grafico div, #Investir #grafico h3{
    width: 100%;
    font-size: 20px;
    font-weight: 100;
    display: inline;
}

#Investir #grafico h1{
    font-size: 3rem;
    color: #FF774A;
}

#Investir #content{
    width: 50%;
    min-height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-around;
}

#Investir #content section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#Investir #content>h1{
    align-self: flex-start;
    font-size: 4rem;
    color: #ed6e43;
}

#Investir #content span{
    width: 30%;
    text-align: left;
}

#Investir #content div{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
}

#Investir label{
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#Investir input[type="text"]:disabled {
    border: 1px solid white !important;
}

#Investir input[type="checkbox"]:checked + input[type="text"]{
    opacity: 1;
}

#Investir input[type="text"]{
    height: 4.5vh;
    width: 250px;
    margin-left: 20%;
    border-radius: 3px;
}

#Investir input[type="number"]{
    height: 30px;
    width: 250px;
    margin-left: 20%;
}

#Investir input[type="number"]:disabled {
    border: 1px solid white !important;
}

#Investir input:disabled::placeholder{
    color: rgb(207, 207, 207)
}

#Investir input[type="checkbox"]:checked + input[type="number"]{
    opacity: 1;
}

#Investir .btn{
    width: 40%;
    display: block;
    margin-top: 2%;
}

#Investir #rendavariavel h1, #rendafixa h1{
    margin-bottom: 5%;
}

#Investir canvas {
    color: #fff !important;
}

input{
    padding-left: 1%;
}


.tittleSpan{
    width: 85% !important;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.papeis[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
}

.papeis[type="checkbox"]:checked {
    background-color: #ed6e43;
    border: 1px solid #ff2d0d;
}

.papeis[type="checkbox"]:focus {
    box-shadow: 0 0 0 1px #ad4e2e;
}

#Investir .btn{
    opacity: 0.6;
    transition: none;
    cursor: no-drop;
}



@media (max-width: 1200px) {
    #Investir #content section h1 {
        font-size: 2rem;
    }

    #Investir #content section span {
        font-size: 1.7rem;
    }

    #Investir #content section .valores[type="text"],
    #Investir #content section .valores[type="number"] {
        width: 200px;
        height: 30px;
    }
}

@media (max-width: 875px) {
    #Investir {
        flex-direction: column-reverse;
        justify-content: start;
    }

    #Investir #content {
        align-items: center;
        text-align: center;
        width: 80%;
    }

    #Investir #content > h1 {
        margin: 0 auto;
    }

    #Investir #content section {
        align-items: center;
    }

    #Investir #content label {
        margin: 0 auto;
    }

    #Investir #grafico {
        min-height: 10vh;
        width: 70%;
        margin-top: 7%;
    }

    #Investir #grafico div {
        text-align: end;
        width: 60%;
        height: 100px;
        display: flex;
        flex-direction: column;
    }

    #Investir #grafico div h3:first-child {
        margin-top: 15px;
    }

    #Investir #grafico div h3 {
        font-size: 1.7rem;
        text-align: center;
    }

    #Investir #grafico h1 {
        font-size: 2.3rem;
        text-align: center;
    }
}

@media (max-width: 560px) {
    #Investir #grafico div h3 {
        font-size: 1.4rem;
    }

    

    #Investir #content > h1 {
        font-size: 3rem;
    }

    #Investir #content section h1 {
        font-size: 1.7rem;
        width: 40%;
        

    }

    #Investir #content {
        width: 90%;
    }


    #Investir #content section{
        width: 100%;
    }

    #Investir #content section label  {
        width: 100%;

    }

    #Investir #content section{
        margin-bottom: 30px;
    }

    #Investir #content .tittleSpan{
        width: 100% !important;
        
        
    }

    #Investir #content .tittleSpan h1:last-child{
        text-align: end ;
    }

   

    #Investir #content section label span {
        font-size: 1.4rem;
        margin-left: 5px;
        width: 200px;
        
    }

    #Investir input[type="checkbox"] {
        min-width: 15px;
    }

    #Investir #content section .valores[type="text"],
    #Investir #content section .valores[type="number"],
    #Investir #content section .valores[type="text"]::placeholder,
    #Investir #content section .valores[type="number"]::placeholder {
        width: 120%;
        height: 35px;
        font-size: 1rem;
    }

    #Investir .btn{
        width: 50%;
        margin-top: 50px;
    }
}
