#Menu{
    display: block !important;
    z-index: 5;
} 

.Menu-back{
    width: 100%;
    height: 50px;
    background-color: #000000;
    color: #d9d9d9;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
}

#logo span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3px;
}

.Menu span h3{
    font-size: 1rem !important;
    margin: 0;
    padding: 0;
}

#logo img{
    width: 30px;
}

.Menu{
    width: 100%;
    height: 50px;
    margin-top: -6.1vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    position: fixed;
    left: 0;
    top: 6.4vh;
    list-style: none;
    z-index: 5;
}

.Menu li{
    width: 10%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Menu a{
    text-decoration: none;
    color: #d9d9d9;
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out !important;
    border-bottom: 1px solid #ffffff00;
    letter-spacing: 1px;
}

.Menu a:hover{
    border-bottom: 1px solid #ffffff82;
    cursor: pointer;
    font-weight: 100;
    font-size: 1.4rem;
    user-select: none;
}

.Menu .logo *:hover{
    cursor: pointer;
}

.Menu .logo a:hover{
    border-bottom: 1px solid #00000000;
    cursor: pointer;
    font-weight: 100;
    font-size: 1.4rem;
}

.mobile-Menu{
    position: fixed;
    width: 33px;
    height: 33px;
    top: 10px;
    left: 10px;
    z-index: 20;
    display: none !important;
}

.mobile-Menu div {
    width: 28px;
    height: 3px;
    background: #d9d9d9;
    margin: 6px;
    transition: 0.3s;
    z-index: 9;
}

.activated{
    transform: translateX(0px) !important;
}

@media screen and (max-width: 769px) {

    .Menu a{
        font-size: 14px;
    }

    .Menu a:hover{
        border-bottom: 1px solid #ffffff82;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.4rem;
    }

    
}

@media screen and (max-width: 671px) {

    .mobile-Menu{
        display: block !important;
    }

    .Menu-back{
        width: 55%;
        height: 100%;
        background-color: #000000;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 6;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in;
    }

    .Menu{
        width: 100%;
        height: 100vh;
        margin-top: 7%;
        padding-left: 3%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 5%;
        z-index: 7;
        list-style: none;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in;
    }

    .Menu li{
        width: 50%;
        height: 8%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 5%;
    }

    .Menu a{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out !important;
        border-bottom: 1px solid #ffffff00;
        letter-spacing: 1px;
    }

    .li-logo-Menu{
        width: 100% !important;
        height: 300px !important;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }

    .logo-Menu{
        display: block;
        margin-bottom: 30px;
        margin-top: 10%;
        width: 80px !important;;
        height: 80px !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .insta-Menu, .facebook-Menu{
        width: 35px !important;
        height: 35px !important;
        margin-bottom: 10px;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
    }
}

@media (max-width : 1367px) {
    #Cadastro{
        font-size: 1.7rem !important;
    }
}