#Resultados{
    padding-top: 10vh;
    min-height: 100vh;
    background-color: #161630;
}

#Resultados{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-size: 2vh;
}

#Resultados h1{
    margin: 20px 0 50px 0;
    font-size: 4rem;
    margin-left: 1%;
    color: chocolate;
}

#Resultados h2{
    margin: 10px 0 50px 0;
    font-size: 2.6rem;
}

#grafico-patrimonio{
    max-width: 500px;
    margin-bottom: 100px;
}

.grafico-patrimonio{
    width: 85%;
    max-width: 800px;
}

#Resultados canvas{
    width: 100%;
}

.infos-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 210px;
    font-size: 2rem;
    margin: 30px 0 50px 0;
}

.infos-container span{
    height: 100px;
    text-align: start;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.infos-container span .Infos{
    height: 50px;
    width: 60%;
    display: flex;
    padding-left: 9px;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-top: 9px;
}

.infos-container span .result{
    border: 2px solid #000000;
    background-color: #d9d9d9;
    color: #161630;
    font-weight: bolder;
}


@media (max-width: 670px){
    .infos-container{
        height: auto;
    }
    .infos-container span{
        width: 100%;
    }
}

@media (max-width: 520px){
    #Resultados h1{
        margin-left: 7%;
    }
}

@media print {
    * {
        background: transparent;
        color: #000;
        text-shadow: none; 
        filter: none;
        -ms-filter: none;
    }

    #Menu{
        display: none;
    }

    #Rodape{
        display: none;
    }

    button{
        display: none !important;
    }

}