#Sobre{
    width: 100%;
    height: max-content;
    position: relative;
    color: #d9d9d9;
    overflow-y: hidden;
    background-color: #161630;
}

#Sobre ul{
    list-style: none;
}

#Sobre .header{
    background-color: #F3DD6B;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 370px ;
    font-weight: 700;
    padding-top: 70px;
    color: #000000;
}

#Sobre .header h1{
    font-size: 3rem;
    padding-bottom: 15px;
}

#Sobre .header h3{
    font-size: 2rem;
    
}

#Sobre .section{
    background-color: #161630;
    height: 500px;
    padding: 2%;
}

#Sobre .section .involved{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;   
}

#Sobre .section .involved .sobre-img{
    background: url("../images/sobre.png") no-repeat center center;
    background-size: contain;
    width: 550px;
    margin-top: -30vh;
    margin-right: -10%;
}

#Sobre .section .involved .persons li{
    padding: 7px;
    font-size: 1.6rem;
}

#Sobre .section .involved .persons li:first-child{
    padding-bottom: 17px;
}

#Sobre .section .involved .persons li a {
    color: #d9d9d9;
    transition: 0.3s ease-in-out;
}

#Sobre .section .involved .persons li a:hover {
    text-decoration: underline;
    color: #ffffff;
}

#Sobre .section .involved .persons:last-child li:nth-last-child(2){
    margin: 13px 0;
}

#Sobre .section .involved .persons:last-child{
    text-align: right;
}

@media (max-width: 888px){

    #Sobre .section .involved .sobre-img{
        display: none;
    }

    #Sobre .header{
        height: 30vh;
    }

}

@media (max-width: 600px){

    #Sobre{
        width: 100%;
        position: relative;
        color: #d9d9d9;
        height: 100vh;
    }

    #Sobre .section, .involved{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .persons{
        width: 100%;
    }

    #Sobre .section .involved .persons:last-child{
        text-align: left;
    }

}

